
<section>
  <div class="row">
    <h2 style="border-bottom: 1px solid #ccc; padding-bottom: 1rem;" class="header">Clientes</h2>
    <div class="header mb-3">
      <div class="button-dropdown right mr-1"><a href="#" data-target="dropdown1" class="dropdown-trigger btn grey darken-1">
           
          Ordernar por<i class="material-icons right">arrow_drop_down</i></a>
        <ul id="dropdown1" class="dropdown-content">
          <li><a href="#!" class="black-text">Ordem descrescente</a></li>
          <li><a href="#!" class="black-text">Número de identificação</a></li>
          <li tabindex="-1" class="divider"></li>
          <li><a href="#!" class="black-text">Outro</a></li>
        </ul>
      </div>
      <button class="btn primary secondary waves-effect blue ml-1">Novo cliente</button>
    </div>
    <table class="responsive-table highlight customer">
      <thead>
        <tr>
          <th>#</th>
          <th>Foto</th>
          <th>Nome</th>
          <th>Designação</th>
          <th>Email</th>
          <th>Endereço</th>
          <th>Telefone</th>
          <th>Salário</th>
          <th>Acções</th>
        </tr>
      </thead>
      <tbody>
        <tr class="cursor-pointer">
          <td>1</td>
          <td> <img src="./img/avatar-man.png"/></td>
          <td>Alvin</td>
          <td>Social Media especialist</td>
          <td>alvin@gesprin.co.ao</td>
          <td>Viana</td>
          <td>933 093 890</td>
          <td>200 mil</td>
          <td> <i data-tooltip="Ver perfil" class="material-icons cursor-pointer mr-1 tooltipped">remove_red_eye</i><i data-tooltip="Editar os dados" class="material-icons cursor-pointer mr-1 tooltipped">edit</i><i data-tooltip="Eliminar" class="material-icons cursor-pointer mr-1 tooltipped">delete</i></td>
        </tr>
        <tr class="cursor-pointer">
          <td>1</td>
          <td> <img src="./img/avatar-woman.png"/></td>
          <td>Sharon</td>
          <td>Product Manager</td>
          <td>sharon@gesprin.co.ao</td>
          <td>Viana</td>
          <td>932 093 890</td>
          <td>150 mil</td>
          <td> <i data-tooltip="Ver perfil" class="material-icons cursor-pointer mr-1 tooltipped">remove_red_eye</i><i data-tooltip="Editar os dados" class="material-icons cursor-pointer mr-1 tooltipped">edit</i><i data-tooltip="Eliminar" class="material-icons cursor-pointer mr-1 tooltipped">delete</i></td>
        </tr>
        <tr class="cursor-pointer">
          <td>1</td>
          <td> <img src="./img/avatar-man.png"/></td>
          <td>Kelvin</td>
          <td>CTO</td>
          <td>kelvin@gesprin.co.ao</td>
          <td>Palanca, Golf 2</td>
          <td>993 093 890</td>
          <td>200 mil</td>
          <td> <i data-tooltip="Ver perfil" class="material-icons cursor-pointer mr-1 tooltipped">remove_red_eye</i><i data-tooltip="Editar os dados" class="material-icons cursor-pointer mr-1 tooltipped">edit</i><i data-tooltip="Eliminar" class="material-icons cursor-pointer mr-1 tooltipped">delete</i></td>
        </tr>
      </tbody>
    </table>
  </div>
</section>