ul#slide-out.sidenav.sidenav-fixed.blue.darken-2
	li
		div(class="user-view white")
			a(href="#user")
				img(class="circle" src="img/25674388_2028271004121956_996529792_n.jpg")
			a(href="#name")
				span(class="name") Gabriel Tony
			a(href="#email")
				span(class="email") gabril.tony@gmail.com
	li  
		a(href="#!" class="white-text") 
			i(class="material-icons white-text") dashboard
			|Painel
	li.ml-1
		ul.collapsible.collapsible-accordion
			li
				a(href="#!" class="white-text").collapsible-header
					i(class="material-icons white-text") account_balance
					|Finanças
					i(class="material-icons white-text right") arrow_drop_down
				div.collapsible-body.blue.darken-2
					ul
						li 
							a(href="#!" class="white-text") 
								i(class="material-icons white-text") local_atm 
								|Gastos
						li
							a(href="#!" class="white-text") 
								i(class="material-icons white-text") monetization_on 
								|Orçamentos
						li
							a(href="#!" class="white-text") 
								i(class="material-icons white-text") account_balance
								|Bancos
						li
							a(href="#!" class="white-text") 
								i(class="material-icons white-text") attach_money
								|Caixa



	li 
		a(href="#!" class="white-text") 
			i(class="material-icons white-text") shopping_basket 
			|Vendas

	li 
		a(href="#!" class="white-text") 
			i(class="material-icons white-text") person 
			|Funcionários
	
	li
		a(href="#!" class="white-text") 
			i(class="material-icons white-text") assignment 
			|Relatórios

	li.divider

	li
		a(href="#!" class="white-text") 
			i(class="material-icons white-text") local_atm
			|Impostos

	li
		a(href="#!" class="white-text") 
			i(class="material-icons white-text") settings
			|Configurações