ul#slide-out.sidenav.sidenav-fixed.blue.darken-2
	li
		div(class="user-view white")
			a(href="#user")
				img(class="circle" src="images/yuna.jpg")
			a(href="#name")
				span(class="name") Gabriel Tony
			a(href="#email")
				span(class="email") gabril.tony@gmail.com
	li  
		a(href="#!" class="white-text") 
			i(class="material-icons white-text") dashboard
			|Dashboard
	li 
		a(href="#!" class="white-text") 
			i(class="material-icons white-text") contacts 
			|Clientes
	li 
		a(href="#!" class="white-text") 
			i(class="material-icons white-text") shopping_basket 
			|Itens
	li
		a(href="#!" class="white-text") 
			i(class="material-icons white-text") monetization_on 
			|Orçamentos
	li
		a(href="#!" class="white-text") 
			i(class="material-icons white-text") assignment 
			|Faturas
	li
		a(href="#!" class="white-text") 
			i(class="material-icons white-text") payment
			|Pagamentos recebidos