nav.white
	div.nav-wrapper
		
		ul#nav-mobile0(class="left hide-on-med-and-down")
			li
				a(href="#" class="black-text") 
					i.material-icons add_circle
			li
				a(href="#" class="black-text") 
					i.material-icons history

		div.row
			include ../Search/index.jade
			a(href="#" data-target="slide-out" class="sidenav-trigger black-text") 
				i.material-icons menu
			a(href="#" class="brand-logo center black-text") HR TEK

			ul#nav-mobile(class="right hide-on-med-and-down")
				li 
					a(href="#!" class="black-text hide") HOME
				li 
					a(href="#!" class="black-text hide") PROFILE
				li
					a(href="#!" class="black-text") 
						i.material-icons notifications
				li 
					a(href="#!" class="black-text")
						i.material-icons settings
				li
					a(href="#!" class="black-text") 
						i.material-icons help
