form(action="#").col.s3.hide
	input(type="search" placeholder="Pesquisar" list="form-search" class="input-field")
	datalist#form-search
		option(value="Rodrigo Miguel") Cliente
		option(value="Paulo Manuel") Cliente
		option(value="DOM Bosco") Cliente