@media (max-width: 768px) {
	.avatar-area {
		text-align: center;
		.avatar {
			margin: auto;
		}
	}
}
.avatar {
	width: 200px;
	height: 200px !important;
	border: 1px solid #ddd;
	display: flex;
	justify-content: center;
	align-items: center;
	
	i {
		transition: 0.5s all;
	}
	
	&:hover {
		border: 1px solid #6495ed;
		cursor: pointer;
		& i {
			transform: scale(1.5);
		}
	}
	
	&:active {
		& i {
			transform: rotate(180deg);
		}
	}
}