<!DOCTYPE html>
html(lang="en")
	head
		meta(charset="UTF-8")
		meta(name="viewport" content="width=device-width, initial-scale=1")
		title HR TEK
		link(rel="stylesheet", href="./css/app.min.css")
		link(rel="stylesheet", href="./css/materialize.min.css")
		link(href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet")

	body
		div.root
			header
				include components/Sidenav/index
				include components/Navbar/index
			main.main
				include views/Customer/index
				
			footer
		<script src="./js/materialize.min.js"></script>
		script  M.AutoInit();
			
			